@keyframes move {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.heading {
    font-size: 80px;
    font-weight: 800;
}

.special {
    background: linear-gradient(25deg, #2600fc, #ff00ea);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 30px;
}

.para {
    font-size: 22px;
}

.btn {
    background: linear-gradient(25deg, #2600fc, #ff00ea);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 45px;
    margin-top: 40px;
    cursor: pointer;
}

#bitcoin {
    position: absolute;
    top: 11%;
    left: 24%;
    -webkit-animation: move 2s infinite;
    animation: move 2s infinite;
}

#ethereum {
    position: absolute;
    top: 11%;
    right: 24%;
    -webkit-animation: move 2s infinite;
    animation: move 2s infinite;
}

@media (max-width:1310px) {
    #bitcoin {
        left: 11%;
    }

    #ethereum {
        right: 11%;
    }
}

@media (max-width:1120px) {
    .heading {
        font-size: 60px;
    }
}

@media (max-width:925px) {
    .heading {
        font-size: 40px;
    }

    #bitcoin {
        width: 50px;
        height: 50px;
        left: 20%;
        top: 27%;
    }

    #ethereum {
        width: 50px;
        height: 50px;
        right: 20%;
        top: 27%;
    }

    .image {
        width: 65px;
        height: 65px;
    }
}

@media (max-width:830px) {

    #bitcoin,
    #ethereum {
        display: none;
    }
}

@media (max-width:575px) {
    .para {
        text-align: center;
    }
}